source_url "https://raw.githubusercontent.com/cachix/devenv/95f329d49a8a5289d31e0982652f7058a189bfca/direnvrc" "sha256-d+8cBpDfDBj41inrADaJt+bDWhOktwslgoP5YiGJ1v0="

_saved_path=$PATH

use devenv . \
    --extra-trusted-public-keys 'ryantrinkle.com-1:JJiAKaRv9mWgpVAz8dwewnZe0AzzEAzPkagE9SP5NWI= miso-haskell.cachix.org-1:6N2DooyFlZOHUfJtAx1Q09H0P5XXYzoxxQYiwn6W1e8= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=' \
    --extra-substituters 'https://nixcache.reflex-frp.org https://miso-haskell.cachix.org https://cache.iog.io' \
    --allow-import-from-derivation 'true'

# Workaround for Mac not having access to global packages
case $OSTYPE in
  darwin*) export PATH=$PATH:$_saved_path
esac
